{% extends "template.html" %}

{% block body %}
<table id="dictionarytable">
	{% for wordss in words %}
	    <tr>
	    	{% for word in wordss %}
	    	<td>
	    		<div class="dictionary">
	    			{% if word.sikret %}
		    			<a href="{{url_for('word', word_id=word.id)}}">
		    				<div class="wordheader">
								<h3>{{word.sikret}}</h3>
							</div>
						</a>
						<p>{{word.definition}}</p>
						<p>{{word.wordtype}}</p>
						{% if current_user.is_authenticated and current_user.admin > 0 and word.sikret %}
							<p><a href="{{url_for('update_word', word_id=word.id)}}">Update</a>||<a href="{{url_for('delete_word', word_id=word.id)}}">Delete</a></p>
						{%endif%}
					{%endif%}
				</div>
			</td>
			{%endfor%}
		</tr>
	{% endfor %}
</table>

<div><p>
	{% for page_num in fullwords.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=2) %}
		{% if page_num: %}
			{% if page_num == fullwords.page %}
				<a href="{{url_for('dictionary', page=page_num)}}"> |{{page_num}}| </a>
			{% else %}
				<a href="{{url_for('dictionary', page=page_num)}}"> {{page_num}} </a>
			{% endif %}
		{%else%}
			...
		{%endif%}
	{%endfor%}
</p></div>

{% endblock %}